<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="2" name="main.java.selenium_grid" parallel="tests">
    <test name="Chrome Test">
        <parameter name="browser" value="chrome" />
        <parameter name="Port" value="9001" />
        <classes>
            <class name="main.java.selenium_grid.Selenium_grid" />
        </classes>
    </test>
</suite>